////
// Public API
// @group API
// @access public
////

/// Instanciate a gradient
/// @param {Direction} $direction - Gradient direction
/// @param {Arglist} $color-stops - List of color-stops
/// @return {Gradient} Gradient instance
/// @throw Throws an error if direction is invalid.
/// @throw Throws an error if there is not at least 2 color-stops.
/// @example scss - Instanciating a new gradient
/// $gradient: sg-gradient(to right, hotpink 42%, tomato);
@function sg-gradient($direction, $color-stops...) {
  @if sg-is-direction($direction) == false {
    @error "`#{$direction}` is not a valid direction for a gradient.";
  }

  @if length($color-stops) < 2 {
    @error "There should be at least 2 color-stops; #{length($color-stops)} given.";
  }

  $colors: sg-get-colors($color-stops);

  @return (
    "fallback": nth($colors, 1),
    "direction": $direction,
    "legacy-direction": sg-legacy-direction($direction),
    "authored-color-stops": $color-stops,
    "color-stops": sg-full-color-stops($color-stops),
    "colors": $colors,
    "length": length($colors)
  );
}


/// Property getter for a gradient
/// @param {Gradient} $gradient - Gradient instance
/// @param {String} $key - Key to fetch
/// @return {*}
/// @throw Throws an error if key doesn't exist.
/// @example scss - Getting the colors used in a Gradient
/// $gradient: sg-gradient(to right, hotpink 42%, tomato);
/// $colors: sg-get($gradient, "colors");
/// // hotpink, tomato
@function sg-get($gradient, $key) {
  @if map-has-key($gradient, $key) == false {
    @error "Gradients do not have a key named `#{$key}`.";
  }

  @return map-get($gradient, $key);
}


/// Display a gradient instance, with its fallback
/// @param {Gradient} $gradient - Gradient instance
/// @param {Color} $fallback (sg-get($gradient, 'fallback')) - Color of first color stop
/// @output `background`
/// @example scss - Displaying a gradient
/// $gradient: sg-gradient(to right, hotpink 42%, tomato);
/// .selector {
///   @include sg-display($gradient);
/// }
@mixin sg-display($gradient, $fallback: sg-get($gradient, "fallback")) {
  background: $fallback;
  background: linear-gradient(sg-get($gradient, "direction"), sg-get($gradient, "color-stops"));
}


/// Debug a gradient instance at root level in a `@debug-gradient` rule
/// @param {Gradient} $gradient - Gradient instance
/// @output `@debug-gradient` declaration
@mixin sg-debug($gradient) {
  @at-root {
    @debug-gradient {
      raw: inspect($gradient);

      @each $key, $value in $gradient {
        #{$key}: inspect($value);
      }
    }
  }
}


/// Redefine the color-stops and length properties
/// of the given gradient so they are perfect stripes.
/// @param {Gradient} $gradient - Gradient instance
/// @return {Gradient} Updated gradient instance
/// @example scss - Turn a gradient into stripes
/// $gradient: sg-gradient(to right, hotpink 42%, tomato);
/// $gradient: sg-stripes($gradient);
/// .selector {
///   @include sg-display($gradient);
/// }
/// @example css - Resulting CSS
/// .selector {
///   background: hotpink;
///   background: linear-gradient(to right, hotpink 50%, tomato 50%);
/// }
@function sg-stripes($gradient) {
  $stripes: sg-compute-stripes(sg-get($gradient, "colors"));

  @return map-merge($gradient, (
    "color-stops": $stripes,
    "length": length($stripes)
  ));
}
